.ant-layout-sider {
    background: #ffffff;
    padding: 1em;
}

.ant-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 8px;
}

.ant-select-arrow {
    color: #20110b;
}

.ant-slider-mark-text {
    font-size: 0.8em;
}

.ant-slider-track, .ant-slider-handle, .ant-slider-handle-click-focused {
    background-color: #dba56c;
}

.ant-rate {
    margin-left: 5px;
}

.ant-tag {
    background: #dcdcdc;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
}

.ant-tag-checkable-checked {
    background: #dba56c;
}

.ant-btn {
    width: 100%;
    background: #20110b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
}